.header,
.nav,
.main,
.sidebar,
.advertising,
.footer {
    background-color: antiquewhite;
    border: 5px solid lemonchiffon;
    padding: 20px;

}



.advertising {
    margin-top: 10px;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.advertising {
    grid-area: advertising;
}

.footer {
    grid-area: footer;
}


.container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header header header header"
        "nav    main   main   sidebar"
        "nav    main   main   advertising"
        "footer footer footer footer"
    ;
}

@media screen and (max-width: 576px) {

    .container {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "sidebar"
            "advertising"
            "footer"
        ;
    }



}

@media screen and (min-width: 577px) and (max-width: 992px) {

    .container {
        display: grid;
        grid-template-areas:
            "header header header "
            "nav    nav     nav"
            "sidebar    main   main"
            "advertising footer footer";
    }

    ul {
        display: flex;
        justify-content: space-between;
    }



}